<!DOCTYPE html>
<html lang="en" class="no-js">

<!-- Mirrored from paullaros.nl/spark-2-1-1/docs/page-error-500.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Sep 2018 11:15:52 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>401</title>

    <!-- External fonts -->
    <link href="https://brick.a.ssl.fastly.net/Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- NPM Packages -->
    <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Vendor -->
    <link href="../assets/vendor/md-snackbars/md-snackbars.min.css" rel="stylesheet">

    <!-- Theme -->
    <link href="../assets/css/spark.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class=""> <!-- right-to-left -->

<div class="splash active">
    <div class="icon"></div>
</div>

<div class="wrapper">

    <div class="page-content full-width">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mx-auto">

                    <div class="page-brand">
                        <a href="/"> <img class="mb-4 mt-1" src="../images/logo.png" alt="" width="120" height="120"></a>
                    </div>

                    <div class="card card-default widget">
                        <div class="card-heading text-center">
                            <h3 class="card-title">Unauthorized Error</h3>
                        </div>
                        <div class="card-body">

                            <p class="error-code">
                                401
                            </p>

                            <p class="text-center text-muted">
                                You do not have a permission to view this page. Please login to access this page.
                            </p>
                        </div>
                    </div>

                    <div class="text-center">
                        <span class="text-muted">Back to</span> <a href="/">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /#wrapper -->

<!-- NPM Packages -->
<script src="../jquery/dist/jquery.min.js"></script>

<script src="../popper.js/dist/umd/popper.min.js"></script>
<script src="../bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Vendor -->
<script src="../assets/vendor/md-snackbars/md-snackbars.min.js"></script>

<!-- Theme -->
<script src="../assets/js/spark.js"></script>

<script>
    $(document).ready(function () {
        Spark.init();
    });
</script>

</body>

</html>
